---
layout: page
title: About
permalink: /about.html/
---

{% include header.html %}
{% include nav.html %}

  <main>
    
    <h3>About me</h3>
    <section class="chef">
      <img src="/assets/imgs/img2.jpg" alt="chef" style="width:300px">
    </section>
    <p>
      Hi!
      My name is Gustavo Herrera, a proud mexican chef living in Calgary;
      I've built this site to show the world how delicius is mexican food, and 
      easy to make.
      There is also a small list with the best places I've been in town.
      I hope you enjoy it!
    </p>
  
</main
