<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>{{title.site}}</title>
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <nav>
            <ul class="navbar">
              <li><a href="/">Home</a></li>
              <li><a href="/contact.html/">Contact</a></li>
              <li><a href="/about.html/">About</a></li>
              <li><a href="/locations.html/">Locations</a></li>
            </ul>
          </nav>
    </nav>
    <h3>{{ site.title }}</h3>
